@inject ISortingBucketsViewModel vm
    <div class="row justify-content-center mt-5 pt-5">
        <div hidden=@vm.StoryHidden class="card col-7">
            <div class="card-body">
                <h4 class="card-header">@vm.TextForNextStoryToSort</h4>
                <button @onclick="vm.OnClickBtnNext" class="btn btn-primary m-2 float-right">Next</button>
            </div>
        </div>
        <p hidden=@vm.AllDoneHidden class="alert alert-success col">
            All done!
        </p>
        <p hidden="@vm.LoaderHidden" class="alert alert-light col">
            Loading...
            If this doesn't dissapear something went wrong.
        </p>
    </div>

@code {
    protected override async Task OnInitializedAsync()
        => await vm.OnInitializedAsync();
}