@inject ISortingBucketsViewModel vm
<p hidden=@vm.HideStory>
    @vm.TextForNextStoryToSort
</p>
<p hidden=@vm.HideAllDone class="alert-success">
    All done!
</p>
<p hidden="@vm.HideLoader">Loading...</p>
