@inject ISortingBucketsViewModel vm
@using StoryBuckets.Client.Components.BucketWrapper
<div class="row justify-content-center mt-5 pt-5">
    <div hidden=@vm.StoryHidden class="card col-7">
        <div class="card-body">
            <h4 class="card-header">@vm.TextForNextStoryToSort</h4>
        </div>
    </div>
    <p hidden=@vm.AllDoneHidden class="alert alert-success col">
        All done!
    </p>
    <p hidden="@vm.LoaderHidden" class="alert alert-light col">
        Loading...
        If you can read this, something might've gone wrong...
    </p>
</div>
    <div class="row justify-content-center mt-5 pt-5">
@if (!vm.BucketsHidden)
{
        @foreach (var bucket in vm.Buckets)
        {
            <div class="col">
                <BucketWrapper Bucket="@bucket" OnChosen="vm.OnBucketChosen" DisableChoosing="vm.DisableBucketChoosing"/>
            </div>
        }
    <div class="col">
        <button class="btn btn-outline-dark" title="Create a new bucket" @onclick="vm.OnClickCreateBucket">+ Add</button>
    </div>
}
    </div>

@code {
    protected override async Task OnInitializedAsync()
        => await vm.OnInitializedAsync();
}