@inject ISortingBucketsViewModel vm
<p hidden=@vm.StoryHidden>
    @vm.TextForNextStoryToSort
</p>
<p hidden=@vm.AllDoneHidden class="alert alert-success">
    All done!
</p>
<p hidden="@vm.LoaderHidden">Loading...</p>

@code {
    protected override async Task OnInitializedAsync()
        => await vm.OnInitializedAsync();

}