<div class="bucket">
    @foreach (var story in Bucket.Stories)
    {
        <p>@story</p>
    }
    <button @onclick="OnClickChoose" disabled="@DisableChoosing" class="btn btn-outline-primary">Choose</button>
</div>
<button class="btn btn-outline-dark" title="Create a new bucket" @onclick="OnClickCreateBiggerBucket">+ Add</button>